{% extends 'base.html.twig' %}

{% block css %}

{% endblock %}

{% block body %}
<main>
    <header class="screen main-header" style="background-image: url({{ vich_uploader_asset(header, 'backgroundImageFile') }});">
        <h1 class="main-header__title">
            <img class="main-header__img" src="{{ vich_uploader_asset(header, 'titleImageFile') }}" alt="{{ header.titleAlt }}">
            <div class="main-header__boxtext">
                <p>{{ header.subtitle }}</p>
                <a href="#first-screen"><h2 class="shine">Zapraszamy</h2></a>
            </div>
        </h1>
    </header>
    <aside id="slider">
        <ul class="slider">
            {% for image in images %}
                {% if image.enabled %}
                    <li><img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="{{ image.alt }}" data-description="{{ image.alt }}"></li>
                {% endif %}
            {% endfor %}
        </ul>
    </aside>
    <div style="clear: both;"></div>
    <section class="container">
        <div id="price">
            {% for price in prices %}
                <figure class="price">
                    <img src="{{ vich_uploader_asset(price, 'imageFile') }}" alt="{{ price.alt }}">
                    <span>{{ price.text }}</span>
                </figure>
            {% endfor %}
        </div>
    </section>
    <section id="first-screen" class="screen screen-section">
        <div class="screen__text screen__text1">
            <h3 class="screen__title">Gościniec Europejski</h3>
            {{ firstSectionText.text|raw }}
        </div>
        <div class="screen__image screen__image1 image-three">
            <div class="screen__image-box image-inline1 animated" data-animated="fadeInRight">
                <div class="screen__img" style="background-image: url({{ vich_uploader_asset(firstSectionImage[0], 'imageFile') }})">
                    <div class="screen__img-border">Hotel</div>
                    <div class="screen__img-background" style="background-color: rgb(212, 134, 72)"></div>
                </div>
            </div>
            <div class="screen__image-box image-inline2 animated" data-animated="fadeInLeft">
                <div class="screen__img" style="background-image: url({{ vich_uploader_asset(firstSectionImage[1], 'imageFile') }})">
                    <div class="screen__img-border">Pokoje</div>
                    <div class="screen__img-background" style="background-color: rgb(222, 238, 242)"></div>
                </div>
            </div>
            <div class="screen__image-box image-block3 animated" data-animated="fadeInUp">
                <div class="screen__img" style="background-image: url({{ vich_uploader_asset(firstSectionImage[2], 'imageFile') }})">
                    <div class="screen__img-border">Przyjęcia</div>
                    <div class="screen__img-background" style="background-color: rgb(123, 60, 40)"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="screen screen-section">
        <div class="screen__text screen__text2">
            <h3 class="screen__title">Gościniec Europejski</h3>
            {{ secondSectionText.text|raw }}
        </div>
        <div class="screen__image screen__image2 image-two">
            <div class="screen__image-box image-block4 animated" data-animated="fadeInRight">
                <div class="screen__img" style="background-image: url({{ vich_uploader_asset(secondSectionImage[0], 'imageFile') }} )">
                    <div class="screen__img-border">Relaks</div>
                    <div class="screen__img-background" style="background-color: rgb(72, 111, 67)"></div>
                </div>
            </div>
            <div class="screen__image-box image-block5 animated" data-animated="fadeInRight">
                <div class="screen__img" style="background-image: url({{ vich_uploader_asset(secondSectionImage[1], 'imageFile') }})">
                    <div class="screen__img-border">Konferencje & szkolenia</div>
                    <div class="screen__img-background" style="background-color: rgb(98, 79, 65)"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="min-screen">
        {{ sliderText.text|raw }}
    </section>
    <aside id="slider-full">
        <h2 class="slider-full__title">
            <span>Galeria zdjęć wszystkie pod <a href="#">tym linkiem</a></span>
        </h2>
        <ul class="slider-full">
            {% for image in images %}
                <li><img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="{{ image.alt }}" data-description="{{ image.alt }}"></li>
            {% endfor %}
        </ul>
    </aside>
    <div style="clear:both;"></div>
    <section id="contact" class="screen contact" style="background-image: url({{ asset('build/img/recepcja.jpg') }});">
        <div>
            <h2 class="contact__title">Kontakt</h2>
            <h3 class="contact__subtitle1">Adres</h3>
            <div class="contact__text">
                <p>Nazwa: <span><b>Gościniec Europejski</b></span></p>
                <p>Adres: <span><strong>Przyjmo, ul. Dolna 2</strong></span></p>
                <p>Miejscowość: <span>26-085 Miedziana Góra</span></p>
                <p>Województwo: <span>Świętokrzyskie</span></p>
                <p>Tel/fax: <span><strong>+48 41 303 41 03</strong></span></p>
                <p>E-mail: <span>goscinieceuropejski@op.pl</span></p>
            </div>
            <h3 class="contact__subtitle2">Skontaktuj się z nami</h3>
            <form method="post" class="contact__form">
                <div class="form__group">
                    <label for="name">Imię</label>
                    <input type="text" class="form__input" name="name" id="name" title="Imię" placeholder="Imię"
                           required="">
                </div>
                <div class="form__group">
                    <label for="surname">Nazwisko</label>
                    <input type="text" class="form__input" name="surname" id="surname" title="Nazwisko"
                           placeholder="Nazwisko" required="">
                </div>
                <div class="form__group">
                    <label for="email">Email</label>
                    <input type="text" class="form__input" name="email" id="email" title="Email" placeholder="Email"
                           required="">
                </div>
                <div class="form__group">
                    <label for="phone">Telefon</label>
                    <input type="tel" class="form__input" name="phone" id="phone" title="Telefon" placeholder="Telefon"
                           required="">
                </div>
                <div class="form__group">
                    <label for="content">Treść</label>
                    <textarea class="form__input form__textarea" rows="6" name="content" id="content" title="Treść"
                              placeholder="Treść" required=""></textarea>
                </div>
                <div class="form__group">
                    <button class="form__button" title="Wyślij">Wyślij</button>
                </div>
            </form>
        </div>
    </section>
    <section class="screen map">
        <h2 class="map__title">Mapa</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10047.441864694134!2d20.5184728!3d50.9817697!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x97631502882b9472!2sGo%C5%9Bciniec+Europejski!5e0!3m2!1spl!2spl!4v1522351627997"
                height="450" style="border:0; width: 100%; margin-top: 20px" allowfullscreen></iframe>
    </section>
</main>
{% endblock %}

{% block js %}

{% endblock %}




